@tailwind base;
@tailwind components;
@tailwind utilities;

.front-card {
  display: none;
  transform: rotateY(0deg);
}

.front-card-flip {
  display: block;
}

.back-card {
  display: block;
  transform: rotateY(0deg);
}

.back-card-flip {
  display: none;
}